

.panel{
  background-color: #ffffff;
  width: 150px;
  height: 130px;
  font-size: 100px;
  text-align: center;
  line-height: normal;
  margin: 70px;

}

.haikei{
 background-color:#ffe4e4;
}

.startbtn{
  background-color: #848ccf;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin: 30px;
}

.btn{
  background-color: #848ccf;
  color: #ffffff;
  width: 150px;
  height: 50px;
  margin: 30px;
}

.renderBingo{
  background-color: #ffffff;
  color: #93b5e1;
  margin: 10px;
  // opacity: 0.5;
  // border-radius: 2.5px;
  // font-weight: bold;
  // font-size: 20px;
  // line-height: 32px;
}
.renderBingo + .renderBingo {
  margin-left: 5px;
}
.renderBingo.unmatched {
  opacity: 1.0;
  background: #FFFF00 ;
}

