<div class="haikei">

  <div fxLayout="row" fxLayoutAlign="center center">
    <div><mat-card class="panel">{{panel1}}</mat-card></div>  
    <div><mat-card class="panel">{{panel10}}</mat-card></div>  
    <!-- [(ngModel)]="panel10" -->
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <!-- <input type="submit" disabled> -->
      <button mat-raised-button *ngIf="isStartFlg" class="startbtn" [disabled]="isPush" (click)="staBtn()">START</button></div>
    <div><button mat-raised-button *ngIf="!isStartFlg" class="startbtn" (click)="staBtn()" >STOP</button></div>
    <div><button mat-raised-button (click)="delBtn()" class="btn">CLEAR</button></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <ng-container *ngFor="let targeter of winningNumber"> 
    <div><mat-card class="renderBingo">{{targeter}}</mat-card></div>
    </ng-container>
  </div>
</div>

